<h1>All Tracks</h1>

<%= form_with(url: songs_path, method: :get) do |f| %>
    <%= f.label :search, "Search for Songs by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %><br><br>




<% @songs.each do |song| %>
    <%= render song %>
    
    <div class=container>
        <% if @user %>
            <% pl = @user.playlists.map {|p| p['name'] if p.songs.include?(song) != true } %>
                <% if pl.length != 0 %>
                    <h3>Add to playlist
                    <%= form_for( :song, url: song_path(song), method: "patch" ) do |f| %>
                    <%= f.select :playlists, options_for_select(pl) %>

                    <%= f.submit "Add" %>
                    <% end %>
                <% end %>
        <% end %><br><br>
    </div>
<% end %>