<h1>All Tracks</h1>

<%= form_with(url: songs_path, method: :get) do |f| %>
    <%= f.label :search, "Search for Songs by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %><br><br>

<% @songs.each do |song| %>
    <%= render song %>
    <div class=container>
        <%= add_to_playlist(song, @user) %><br><br>
    </div>
<% end %>