<h1>Edit your Playlist</h1>

<%= conditional_errors(@playlist) %>



<%= form_with(model: @playlist) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :favorite? %><br>
    <%= f.select :favorite, options_for_select([["No", false], ["Yes", true]]) %><br><br>

    <%= f.hidden_field :user_id, :value => @user.id %>

    <%= f.submit %>
<% end %>

